@import "compass";

/* Comment 1
 * Comment 2 */

// 1
// 2

@mixin large-text {
  font: {
    family: Arial;
    size: 20px;
    weight: bold;
  };
  color: red;
}

#main {
  color: blue;
  font-size: 0.3em;
  h1 {
    @include large-text;
  }
  a {
    font: {
      weight: bold;
      family: serif;
    };
    &:hover {
      background-color: #eeeeee;
    }
  }
}
